.header__top-bar {
    padding: 15px !important;
}

.hero-unit {
    background: #27313b url(../../../img/header_bg.jpg) 50% 0 no-repeat;
    background-size: cover;
}

 /* Tirar depois da europa shield */
.social-links {
    margin-top: 10px !important;
}
/**/

.page-heading {
    background-image: url(../../../img/page-heading.jpg);
}

.page-heading::before {
    background-image: url(../../../img/page-heading-pattern.png);
}

.page-heading::after {
    background-image: url(../../../img/page-heading-pattern.png);
}